.habilidades {
    background-color: #F1F1F1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.habilidades__titulo {
    font-weight: 500;
    font-size: 52px;
    line-height: 28px;
    color: #1E0E62;
}

.habilidades__texto {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: rgba(21, 20, 57, 0.4);
}

.habilidades__caja {
    margin: 80px 180px 80px 0 ;
}

.habilidades__subtitulo {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #1E0E62;
}

.habilidades__subtexto {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(21, 20, 57, 0.4);
}